<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset="UTF-8" />
        <title>{% block title %}Ari'i{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% block style_plus %}{% endblock %}
        {% block dhtmlx %}{% endblock %}
        {% block dhtmlx_plus %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style>
            html, body {
                width: 100%;      /*provides the correct work of a full-screen layout*/ 
                height: 100%;     /*provides the correct work of a full-screen layout*/
//                overflow: hidden; /*hides the default body's space*/
                margin: 0px;      /*hides the body's scrolls*/
            }
        </style>
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block script %}{% endblock %}
    </body>
</html>
