{# src/Arii/JIDBundle/Resources/views/Default/history.html.twig #}
{% extends "AriiCoreBundle::doc.html.twig" %}
{% block head %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
<!-- Optional theme -->
<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-theme.min.css') }}">
<!-- Latest compiled and minified JavaScript -->
<!-- <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script> -->
{% endblock %} 
{% block body %}
<body>
<div class="container-fluid">
{{ doc.content | raw }}
</div>    
</body>
{% endblock %}
