{# src/Arii/JIDBundle/Resources/views/Default/history.html.twig #}
{% extends "AriiCoreBundle::layout.html.twig" %}
{% block body %}
<body>
<div class="container-fluid">    
    <h1>{{ doc.title }}</h1>
    <p>{{ doc.description }}</p>
    
</div>

</body>
{% endblock body %}
